/* https://coolors.co/35524a-4056f4-eeebd3-b36a5e-f7c548 */

section#intro {
    background-color: #b36a5e;
    color: #f7c548;
    height: 100vh;
    padding: 30px;
}

#intro h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 96px;
    animation: fadein ease-in 1s;
}

@media only screen and (max-width: 600px) {
    #intro h1 {
        font-size: 50px;
    }
}

#intro h3 {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#intro code {
    margin-top: 20px;
    font-size: 40px;
    color: #9f2771;
    opacity: 0;
    animation-name: fadein;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#intro #downArrow {
    font-size: 75px;
    color: #f7c548;
    opacity: 1;
    animation-name: fadein;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    position: absolute;
    bottom: 30px;
    left: calc(50% - 37px);
}

#intro #downArrow:hover {
    color: #9f2771;
}

#about {
    background-color: #eeebd3;
    color: #9f2771;
    padding: 30px;
}

#about h5 {
    font: size 75px;
}

#contact {
    background-color: #b36a5e;
    color: #eeebd3;
    padding: 30px;
}

#contact a {
    color: #eeebd3;
}

#contact input,
#contact textarea {
    width: 100%;
    margin-bottom: 20px;
    background-color: #eeebd3;
    padding: 10px;
}

#contact .btn {
    width: 100%;
    margin-top: 15px;
    background-color: #f7c548;
    color: black;
    font-size: 30px;
}

#portfolio {
    background: #eeebd3;
    padding: 30px;
    /* height: 50vh; */
}

#portfolio .btn {
    background-color: #b36a5e;
}

footer {
    background-color: #9f2771;
    color: #eeebd3;
    padding: 20px;
}

body {
    background-color: #9f2771;
}

.navbar {
    background-color: #f7c548 !important;
}

#project {
    background-color: #b36a5e;
    color: white;
    padding: 20px;
}

#project img {
    border-radius: 10px;
}

#project #navigateArrows span {
    font-size: 40px;
    margin-top: 25px;
    color: #eeebd3;
}

#project .btn {
    background-color: #9f2771;
    color: #eeebd3;
}
